* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.about_wrapper p {
    width: 60%;
}

.about_wrapper img {
    width: 30%;
}

.cards_wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
}