.wrapper {
    height: 400px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    margin: 10px;   
}

#card-1 {
    
}