body{
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.gallery img {
    transition: 0.5s;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.gallery img:hover {
    opacity: 0.5;
}