body {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: 3em auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: mediumvioletred;
}

h1, h2{
    color: #4287DF;
}

h1 {
   font-size: 1.6em;
}

h2 {
   font-size: 1.2em;
   margin-top: 10px;
}

.card {
    margin: 40px 0;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: '⭐ ';
    line-height: 1.6rem;
    margin-left: 28px;
    padding-left: 4px;
}

.sites > li {
    list-style-type: '🚀 ';

}

.tools > li {
    list-style-type: '⛏️ ';
}

footer {
    font-size: 0.9em;
    color: #597bac;
    margin-top: 80px;

}