body {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: 60px auto;
}

/* Links */

a {
    color: #0d52ac;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline dotted 2px;
    cursor: pointer;
}

a:active {
    color: #43638d;
  }
  
a:visited {
    color: #a31aa3;
  }

/* Headings */

h1, h2{
    color: #4287DF; 
    font-weight: bold;
}

h1 {
   font-size: 1.6em;
}

h2 {
   font-size: 1.2em;
   margin-top: 14px;
   margin-bottom: 18px;
}

.subheading {
    display: block;
    color: gray;
    margin-left: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

/* Card */

.card {
    margin: 40px 0;
}

/* Lists */

ul {
    padding-left: 0px;
}

li {
    list-style-type: '⭐ ';
    line-height: 1.7rem;
    margin-left: 28px;
    padding-left: 4px;
}

.sites > li {
    list-style-type: '🚀 ';

}

.tools > li {
    list-style-type: '⛏️ ';
}

/* Footer */

footer {
    font-size: 0.9em;
    color: #597bac;
    margin-top: 80px;

}

/* Debugging */

/* 
* {
    outline: red solid 1px;
} 
*/