body {
    margin: 0;
}

section {
    display: flex;
    max-width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    color: white;
    margin-right: 20px;
    padding: 6px;
    flex:1;
    height: 600px;
}

.card_1 {
    background-color: rgb(235, 113, 13);
}

.card_2 {
    background-color: rgb(15, 156, 69);
    margin-top: 100px;
}

.card_3 {
    background-color: rgb(106, 41, 112);
    margin-right: 0;
    margin-top: 200px;
}