body {
    background-color: #EAF6F6;
}

hr {
    /* background-color: white; */
    border-top: dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 6px;
    border-color: grey;
    height: 0px;
    /* width: 10%; */
}
/* 
.card {
    border: 2px solid rgb(105, 240, 240);
    border-radius: 1%;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
} */
