
body {
    background: black;
}

.grid {
    width: 560px;
    height: 560px;
    border: 1px solid blue;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    
}


.grid div {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    box-sizing: border-box;
}