body {
  margin: 0;
  min-width: 250px;
  background-color: rgb(63, 38, 75);
  font-family: sans-serif;
}

.todo {
  max-width: 650px;
  margin: 20px auto;
  border: 4px solid black;
  box-shadow: 8px 8px black;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}


.todo .header {
  background-color: rgb(26, 221, 192);
  padding: 30px 40px;
  color: white;
  text-align: center;
  border: 2px solid black;
}

.todo input {
  margin: 0;
  border: none;
  width: 75%;
  padding: 10px;

  font-size: 18px;
}

/* Кнопка добавления задачи */
.addBtn {
  padding: 10px;
  width: 25%;
  background: rgb(173, 92, 160);
  color: white;

  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: rgb(98, 44, 89);
}


/* Настравиваем список задач */


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* делаем так, чтобы текст нельзя было выбрать*/
  user-select: none;
}

/* Нечетные строки делаем другого цвета */
ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #ddd;
}

/* Изменяем фон и зачеркиваем текст по клику */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Добавляем "галочку" по клику */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Настраиваем кнопку закрытия элемента списка*/
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}



