body {
  margin: 0;
  min-width: 250px;
}

.todo {
  max-width: 650px;
  margin: 20px auto;
}

* {
  box-sizing: border-box;
}


.todo .header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.todo .header:after {
  content: "";
  display: table;
  clear: both;
}


.todo input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Кнопка добавления задачи */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}


/* Настравиваем список задач */


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* делаем так, чтобы текст нельзя было выбрать*/
  user-select: none;
}

/* Нечетные строки делаем другого цвета */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

/* Изменяем фон и зачеркиваем текст по клику */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Добавляем "галочку" по клику */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Настраиваем кнопку закрытия элемента списка*/
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}



