<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Random Title</title>

    <style>
        body {
            padding: 20px;
        }
    </style>
</head>

<body class="container">

    <header>
        <div class="menu">
            <a class="item" href="/">
                Главная страница
            </a>
            <a class="item" href="/about">
                О сайте
            </a>
        </div>
    </header>