body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(53, 53, 53);
}

header {
    background-color: #f4fc05;
    padding: 20px 0;

}

.header-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.price {
    color: red;
    font-size: 40px;
}

.price sup {
    font-size: 20px;
}

.price-text {
    font-size: 18px;
    background-color: red;
    color: white;
}

.header-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: flex-end;
}

.header-image {
    margin: 0 30px;
    text-align: center;
}

/* Main */

main {
    text-align: center;
}

main h2 {
    margin-top: 30px;
    margin-bottom: 4px;
}

.main-items {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.main-item {
    margin: 30px 20px;
    padding: 20px;
    box-shadow: 6px 6px 12px 4px rgba(107, 107, 107, 0.164);
}

.main-item button {
    background-color: rgb(238, 38, 38);
    color: white;
    border: 1px solid rgb(93, 3, 3);
    margin-top: 10px;
    padding: 4px 8px;
    font-weight: bold;
}

.main-item button:hover {
    background-color: rgb(175, 26, 26);
}

/* Купон "Розыгрыш" */

.kupon {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 36, 36);
    box-shadow: 10px 10px 20px rgb(65, 65, 65);
}

.kupon-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4em;
    margin-left: 40px;
    margin-top: 20px;
}

.kupon-text .accent {
    color: yellow;
    text-transform: uppercase;
}

/*  Object-fit property
    https://www.w3schools.com/css/css3_object-fit.asp */

.kupon-image img {
    display: block;
    object-fit: cover;
    object-position: center;
}


/* Заказ */

.order {
    margin-top: 50px;
    margin-left: 45px;
}

.order .yellow {
    background-color: yellow;
}

.order .yellow h3 {
    padding: 20px 0 20px 20px;
}

.order .grey {
    color: rgb(70, 70, 70);
}

/* Форма для оформления заказа */

.order-form {
    max-width: 460px;
    margin: 0 auto;
    font-size: 18px;
}

.order-form input {
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    background-color: rgb(247, 247, 247);
    margin-bottom: 15px;
    margin-top: 5px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.51);

}

.order-form input:focus-visible {
    outline: 1px solid rgb(50, 184, 43);
}

.order-form label {
    font-weight: bold;
}

.order-form hr {
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px 0.5px black;
    margin-bottom: 24px;
}

.order-form .payment-text {
    font-weight: bold;
    color: rgb(50, 184, 43);
    margin-top: 16px;
}


/* Кнопка заказа */

.order-form button {
    background: hsl(129, 68%, 53%);
    background-image: linear-gradient(to bottom, #34d94d, #32b82b);
    border: 1px solid rgb(51, 189, 51);
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
    margin: 30px auto;
    display: block;
    width: 100%;
}

.order-form button:hover {
    background: rgb(47, 240, 92);
    background-image: linear-gradient(to bottom, #3cfc69, #34d93f);
    text-decoration: none;
}

/* Техподдержка */

.helper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.helper:hover {

    transform: scale(1.2);

}



/* Подарок */

.gift {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.gift:hover {
    transform: translateY(-5px) scale(1.2) rotate(-0.02turn);

}