body {
    margin: 0;
}

section {
    display: flex;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.card_1 {
    background-color: black;
    color: white;
}

.card_2 {
    background-color: green;
    color: white;
}

.card_3 {
    background-color: purple;
    color: white;
}