body {
    margin: 0;
    font-family: sans-serif;
    padding: 10px 30px;
}

form {
    max-width: 320px;
    box-shadow: 4px 4px 10px 4px rgba(133, 133, 133, 0.219);
    padding: 20px;
    margin: 20px auto;
}

p>label {
    display: block;
}

.form-input {
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
    padding: 8px;
}

fieldset.form-input {
    border: 1px solid black;
}

input:invalid {
    border-color: red;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
    border: 1px solid rgb(52, 109, 216);
    box-shadow: 4px 4px 10px 4px rgba(133, 133, 133, 0.219);
}

textarea {
    resize: none;
}

.form-button {
    background-color: rgb(52, 109, 216);
    color: white;
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 18px;
    border-radius: 4px;
}

.form-button:hover {
    background-color: rgb(44, 91, 180);
    cursor: pointer;
}

::placeholder {
    color: rgba(52, 109, 216, 0.698);
}

#data {
    margin-top: 30px;
}