.wrapper {
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  color: rgb(60, 160, 210);
  font-family: sans-serif;
  font-size: 24px;
  margin: 30px 0;
}

img {
  border-radius: 8px;
  width: 160px;
  float: left;
  margin: 10px;
}




button {
  background-color: rgb(207, 23, 23);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 20px;
}







.bg-green {
  background-color: rgb(47, 129, 47);
}
