body {
  margin: 0;
}

#page {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas: 
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: 1fr 5fr;
}


header, nav, main, footer {
  padding: 20px;
  box-sizing: border-box;
}


header {
  grid-area: head;
  background-color: rgb(140, 160, 255);
}

nav {
  grid-area: nav;
  background-color: rgb(240, 172, 159);
}

main {
  grid-area: main;
  background-color: rgb(238, 238, 141);
}

footer {
  grid-area: foot;
  background-color: rgb(140, 255, 160);
  text-align: center;
}



