body {
  margin: 0;
}

#page {
  display: grid;
  width: 100%;
  grid-template-areas: 
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: 200px 1fr;
}


header, nav, main, footer {
  padding: 20px;
  box-sizing: border-box;
}


header {
  grid-area: head;
  background-color: rgb(140, 160, 255);
}

nav {
  grid-area: nav;
  background-color: rgb(240, 172, 159);
}

main {
  grid-area: main;
  background-color: rgb(238, 238, 141);
}

footer {
  grid-area: foot;
  background-color: rgb(140, 255, 160);
  text-align: center;
}



@media screen and (max-width: 600px) {
  /* main {
    background-color: red;
  } */

  #page {
    grid-template-areas: 
    "head head"
    "nav nav"
    "main main"
    "foot foot";

    grid-template-rows: 200px 100px 1fr 200px;

  }


}



/* 

1.
Создайте сетку с тремя столбцами, где первый и третий столбцы занимают равное пространство, 
а второй столбец занимает двойное пространство.

2.
Создайте сетку с 4 равными столбцами и 4 равными строками.

3.
Создайте сетку с двумя столбцами, где первый столбец занимает 75% ширины контейнера, 
а второй столбец занимает оставшиеся 25% ширины контейнера.

*/






/* 

1.
Создайте сетку с тремя столбцами, где первый и третий столбцы занимают равное пространство, 
а второй столбец занимает двойное пространство.

.grid-container {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
}



2.
Создайте сетку с 4 равными столбцами и 4 равными строками.

.grid-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
}



3.
Создайте сетку с двумя столбцами, где первый столбец занимает 75% ширины контейнера, 
а второй столбец занимает оставшиеся 25% ширины контейнера.

.grid-container {
   display: grid;
   grid-template-columns: 75% 25%;
}


*/