
амаралис {
    color: #E0E0ED, #EC9B8B, #85A492, #627637, #DA0D17, #A50509, #374C1B, #0C2104;
}


фиолетовые цветы {
    color: #F4D1D3, #C5AC9C, #939981, #D17667, #8A806F, #668155, #B3445C, #4F523D;
}


/* 
Cold palette
https://coolors.co/49355e-d5cdcb-b67be0-0049a7-871165 


Bright
https://coolors.co/ab381d-70d6ff-ff70a6-ffd670-e9ff70
*/

