body {
    background-color: #EAF6F6;
    text-align: center;
    margin: 0;
}

hr {
    /* background-color: white; */
    border-top: dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 6px;
    border-color: grey;
    height: 0px;
    /* width: 10%; */
}

.web {
    text-decoration: underline;
}

h1 {
    margin-top: 0;
}

.top-container {
    padding-top: 100px;
    outline: red solid;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}