body {
    background-color: #EAF6F6;
    margin: 0;
    font-family: 'STIX Two Text', serif;
    /* font-size: 1.4em; */
}

h1 {
    margin-top: 0;
    font-weight: 200;
    font-size: 2em;
    font-family: 'Caveat', cursive;
    color: #577e7e;
}

h2 {
    font-size: 1.1em;
    font-weight: 200;
    font-style: italic;
    color: #215858;
}

.web {
    font-weight: 600;
    text-decoration: underline;
    color: #224747;
    font-weight: 200;
    font-size: 1.1em;
}

.top-container {
    text-align: center;
    padding-top: 100px;
    /* outline: red solid; */
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}