body{
    text-align: center;
}
.container{
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 420px;
}

.screen{
    text-align: right;
    border: none;
    background-color: #e4b600;
    color: #000;
    font-size: 34px;
    width: 75%;
    padding: 25px;
    cursor: default;
}

.clear{
    background-color: #7aa802;
    border: none;
    color: #fff;
    width: 160px;
    height: 80px;
    margin: 0 7px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

.button{
    height: 60px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    box-shadow: inset 5px 4px 0px 0px rgba(227, 227, 227, 0.72);
}

.button:hover{
    background-color: #eaeaea;
}
.operator{
    color: #fff;
    background-color: #f78b2d;
    border: none;
}
.equal{
    background-color: #c7db00;
    color: #fff;
    border: none;
}
.equal:hover{
    background-color: #7aa802;
}





