html {
  font-size: 10px;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 48%;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 40px 4px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
}

p {
  font-size: 1.4rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  max-width: 12rem;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/* Button */

.btn {
  background-color: #3eaa86;
  border: 1px solid #2dc995;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  margin-top: 5rem;
  max-width: 12rem;
  width: 60%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.1s;

}



.btn:hover {
  background-color: #4ECCA3;
}

.btn:active {
  background-color: #389173;
}



@media screen and (min-width: 420px) {
  html {
    font-size: 18px;
  }

  .container {
    max-width: 600px;
  }

}


@media screen and (min-width: 620px) {
  h1 {
    font-size: 3rem;
  }

  .btn {
    max-width: 400px;
  }


}