body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4fc05;
    padding: 20px 0;

}

.header-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.price {
    color: red;
    font-size: 40px;
}

.price sup {
    font-size: 20px; 
}

.sale {
    text-align: center;
    width: 200px;
    margin: 20px auto 0; 
}

.sale p {
    background-color: red;
    color: white;
}
