/* Разрабатываем дизайн страницы для смартфона */

body {
  color: rgb(58, 58, 58);
  font-family: sans-serif;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper>* {
  padding: 20px;
  margin: 14px;
  flex: 1 100%;
  box-shadow: 10px 10px 10px rgba(129, 129, 129, 0.335);
}

header {
  background: rgb(255, 197, 232);
  color: rgb(9, 84, 142);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  margin: 20px;
  filter: saturate(1.1) brightness(1.2);
}

.main {
  text-align: left;
  background: rgb(255, 214, 167);
}

ul {
  padding-left: 20px;
  list-style-type: circle;
}

.aside-1 {
  background: rgb(165, 255, 184);
}

.aside-2 {
  background: rgb(152, 211, 255);
}

footer {
  background: rgb(198, 211, 221);
  text-align: center;
}



/* Медиазапрос для экрана планшета */

@media screen and (min-width: 600px) {
  .aside-1, .aside-2 {
    /* Доступное пространство будет разделено поровну 
    между элеметами этими элементами */
    flex: 1;
  }
}



/* Медиазапрос для больших экранов */

@media screen and (min-width: 960px) {
  .main {
    /* .main будет в 3 раза шире, чем .aside */
    flex: 3;
    order: 2;
  }

  .aside-1 {
    order: 1;
  }

  .aside-2 {
    order: 3;
  }

  footer {
    order: 4;
  }
}


@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
}