body {
	background-image: url("images/fon.png");
	color: white;
	font-family: Roboto, sans-serif;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_header {
	display: flex;
	
}

.menu_item {
	display: flex;
	margin-left: 20px;
	align-items: center;
}