body {
  font-family: sans-serif;
}

.weather {
  width: fit-content;
  margin: 20px;
  border: 6px dotted lightskyblue;
  padding: 30px;
  line-height: 22px;
}

h2 {
  margin-top: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.loading {
  visibility: hidden;
}


